.spotify-link {
  border: 2px solid black;
  padding: 16px;
  border-radius: 12px;
  text-decoration: none;
  background: #007c00;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.spotify-link:hover {
  background: #02bd02;
  transition: 0.3s;
}
