.App-section {
  display: flex;
  justify-content: center;
}

#spotify-search-input {
  width: 90%;
  height: 23px;
  padding: 16px 16px 16px 66px;
  font-size: 24px;
  outline: none;
  border-radius: 10px;
  border: 2px solid;
  background: url("../../public/search.svg");
  background-position: 16px 10px;
  background-repeat: no-repeat;
  background-size: 35px;
}

#spotify-search-input:focus {
    box-shadow: 1px 1px 10px rgb(94 170 196);
}





