.App-section {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid;
  width: 90%;
  max-width: 560px
}

form i {
  padding: 0 16px;
}

#spotify-search-input {
  padding: 16px;
  padding-left: 0;
  font-size: 24px;
  outline: none;
  background: none;
  border: none;
  width: 90%;
}

form:focus {
    box-shadow: 1px 1px 10px rgb(94 170 196);
}





