header {
    border-bottom: 2px solid black;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

header h1 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}